<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.noodle.RecipeCuisineMapper">

	<insert id="create">
		insert into 
			tbl_recipeCuisine (bno, step, content)
		values 
			(#{bno}, #{step}, #{content})
	</insert>
	
	<select id="read" resultType="RecipeCuisineVO">
		select 
			* 
		from
			 tbl_recipeCuisine where bno =#{bno}
	</select>
	
	<update id="update">
		update 
			tbl_recipeCuisine 
		set
			step = #{step}, content = #{content}, updatedate = sysdate 
 		where 
 			bno = #{bno}
	</update>

	<delete id="delete">
		delete 
			tbl_recipeCuisine 
		where 
			bno = #{bno}
	</delete>	
	
	<select id="readStep" resultType="RecipeCuisineVO">
		select 
			* 
		from 
			tbl_recipeCuisine 
		where 
		bno = #{bno} and step = #{step}
	</select>
	
</mapper>