<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.noodle.RecipeCuisineMapper">

	<insert id="create">
		insert into 
			tbl_recipeCuisine (bno, step, content)
		values 
			(seq_recipeBoard.currval, #{step, jdbcType=INTEGER}, #{content, jdbcType=VARCHAR})
	</insert>
	
	<insert id="modifyCreate">
		insert into 
			tbl_recipeCuisine (bno, step, content)
		values 
			(#{bno, jdbcType=INTEGER}, #{step, jdbcType=INTEGER}, #{content, jdbcType=VARCHAR})
	</insert>
	
	<select id="read" parameterType="int" resultType="RecipeCuisineVO">
	select board.*
from ( 
  		select tbl_recipecuisine.bno, tbl_recipeimage.ino, tbl_recipecuisine.step, tbl_recipecuisine.content, 
       	tbl_recipeimage.thumbnail, tbl_recipeimage.image, tbl_recipecuisine.regdate, tbl_recipecuisine.updatedate 
       	from tbl_recipecuisine
         join
         tbl_recipeimage
         on
         tbl_recipeimage.bno = tbl_recipecuisine.bno
         and
         tbl_recipeimage.step = tbl_recipecuisine.step
         ) board
         where bno = #{bno, jdbcType=INTEGER}
	</select>
	
	<update id="update">
		update 
			tbl_recipeCuisine 
		set
			step = #{step, jdbcType=INTEGER}, content = #{content, jdbcType=VARCHAR}, updatedate = sysdate 
 		where 
 			bno = #{bno, jdbcType=INTEGER} and step = #{step, jdbcType=INTEGER}
	</update>

	<delete id="delete">
		delete 
			tbl_recipeCuisine 
		where 
			bno = #{bno}
	</delete>	
	
	<delete id="deletes">
		delete 
			tbl_recipeCuisine 
		where
			bno = #{bno, jdbcType=INTEGER} and step = #{step, jdbcType=INTEGER}
	</delete>
	
	<select id="readStep" resultType="RecipeCuisineVO">
		select 
			* 
		from 
			tbl_recipeCuisine 
		where 
			bno = #{bno} and step = #{step}
	</select>
	
	<delete id="bnoDelete">
		delete
			tbl_recipeImage
		where
			bno=#{bno}
	</delete>
	
	<select id="stepRead" resultType="Integer">
		select
			count(*)
		from
			tbl_recipeCuisine
		where
			bno = #{bno, jdbcType=INTEGER}
	</select>
	
</mapper>