<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.noodle.RecipeBoardMapper">

	<insert id="create">
		insert into tbl_recipeboard(mno, bno, ino, title, content, materialContent)
		values(#{mno}, seq_bno.nextval, #{ino}, #{title}, #{content},
		#{materialContent})
	</insert>

	<select id="read" resultType="RecipeBoardVO">
		select * from tbl_recipeboard where bno = #{bno}
	</select>

	<update id="update">
		update tbl_recipeboard set mno = #{mno}, title = #{title}, ino = #{ino},
		content = #{content},
		materialcontent = #{materialContent},
		updatedate = sysdate
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete tbl_recipeboard where bno = #{bno}
	</delete>

	<select id="list" resultType="RecipeBoardVO">
		select * from tbl_recipeboard
	</select>
	
	<select id="listAll" parameterType="int" resultType="RecipeBoardVO">
		select tbl_recipeimage.image, tbl_recipeboard.title, tbl_recipeboard.content
			from tbl_recipeboard
		join tbl_recipeimage
		 on tbl_recipeimage.ino = tbl_recipeboard.ino
	</select>

	<update id="addViewCount">
		update tbl_recipeBoard set viewCnt = viewCnt +1 where bno =#{bno};
	</update>
	
	<update id="addLikeCount">
		update tbl_recipeBoard set likeCnt = likeCnt +1 where bno =#{bno};
	</update>
	
	<update id="minusLikeCount">
		update tbl_recipeBoard set likeCnt = likeCnt -1 where bno =#{bno};
	</update>
	
	<update id="addReplyCount">
		update tbl_recipeBoard set replyCnt = replyCnt +1 where bno =#{bno};
	</update>
	
	<update id="minusReplyCount">
		update tbl_recipeBoard set replyCnt = replyCnt -1 where bno =#{bno};
	</update>

</mapper>