<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.RecipeReplyMapper">

	<insert id="create" parameterType="RecipeReplyVO">
		<if test="#{rrno}==null">
		insert into 
			tbl_recipereply(mno, bno, rno, rrno, seq, content)
		values
			(#{mno, jdbcType=INTEGER}, #{bno, jdbcType=INTEGER}, seq_recipeReply.nextval,
			seq_recipeReply.currval, 0,
			#{content, jdbcType=VARCHAR})
			
		</if>
		
		<if test="#{rrno}!=null">
		insert into 
			tbl_recipereply(mno, bno, rno, rrno, seq, content)
		values
			(#{mno, jdbcType=INTEGER}, #{bno, jdbcType=INTEGER}, seq_recipeReply.nextval,
			#{rrno, jdbcType=INTEGER}, 1,
			#{content, jdbcType=VARCHAR})
		</if>
		
	</insert>

	<select id="read" resultType="RecipeReplyVO">
		select 
			* 
		from 
			tbl_recipereply 
		where 
			rno = #{rno, jdbcType=INTEGER}
	</select>
	
	<select id="readSeq" resultType="RecipeReplyVO">
		select
			*
		from
			tbl_recipereply
		where
			seq > 0
		and
			rrno = #{rrno, jdbcType=INTEGER}
		order by rno asc
	</select>
	
	<select id="rnoCurrval" resultType="Integer">
	select
		seq_recipereply.currval
	from
		dual
	</select>

	<update id="update">
		update 
			tbl_recipereply 
		set 
			content = #{content, jdbcType=VARCHAR}
		where 
			rno = #{rno, jdbcType=INTEGER}
	</update>
	
	<update id="rrnoUpdate">
		update
			tbl_recipereply
		set
			rrno = #{rno, jdbcType=INTEGER}
		where
			rno = #{rno, jdbcType=INTEGER}
	</update>


	<delete id="delete">
		delete 
			tbl_recipereply 
		where 
			rno = #{rno, jdbcType=INTEGER}
	</delete>
	
	<delete id = "deleteRrno">
		delete
			tbl_recipeReply
		where
			rrno = #{rrno, jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteBno">
		delete
			tbl_recipeReply
		where
			bno = #{bno, jdbcType=INTEGER}
	</delete>

	<select id="listAll" resultType="RecipeReplyVO">
		select 
			* 
		from 
			tbl_recipereply 
		where 
			bno=#{bno, jdbcType=INTEGER}
		and
			seq=0
		order by rrno desc, seq
	</select>

</mapper>