<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.noodle.RecipeBoardMapper">

	<insert id="create">
		insert into 
			tbl_recipeboard(mno, bno, title, content, materialContent)
		values 
			(#{mno, jdbcType=INTEGER}, seq_recipeBoard.nextval, #{title , jdbcType=VARCHAR}, 
			#{content , jdbcType=VARCHAR}, #{materialContent , jdbcType=VARCHAR})
	</insert>
	
	<select id="totalCount" resultType="java.lang.Integer">
	<![CDATA[
	select count(bno) from tbl_recipeboard where bno > 0 
	]]>
	</select>

	<select id="read" parameterType="int" resultType="RecipeBoardVO">
		<![CDATA[
		select
			*
		from
			tbl_recipeBoard
		where
			bno = #{bno, jdbcType=INTEGER}
		]]>
	
		<!-- select
			tbl_recipeboard.mno, tbl_recipeboard.bno, tbl_recipeboard.title, tbl_recipeboard.content, tbl_recipeboard.materialContent,
			tbl_recipeboard.viewCnt, tbl_recipeboard.replyCnt, tbl_recipeboard.regdate, tbl_recipeboard.updatedate,  
			tbl_recipeImage.thumbnail,
			tbl_recipeCuisine.content
		from
     		tbl_recipeboard
		left outer join  
			tbl_recipeimage
		on 
			tbl_recipeimage.bno = tbl_recipeBoard.bno
		join
      		tbl_recipeCuisine
    	on 
    		tbl_recipeBoard.bno = tbl_recipeCuisine.bno
    	where 
    		tbl_recipeBoard.bno = #{bno} -->
	</select>

	<update id="update">
		update 
			tbl_recipeboard 
		set 
			mno = #{mno, jdbcType=INTEGER}, 
			title = #{title, jdbcType=VARCHAR},
			ino = #{ino, jdbcType=INTEGER}, 
			content = #{content, jdbcType=VARCHAR}, 
			materialcontent = #{materialContent, jdbcType=VARCHAR},
			updatedate = sysdate
		where 
			bno = #{bno, jdbcType=INTEGER}
	</update>

	<delete id="delete">
		delete
			tbl_recipeboard 
		where 
			bno = #{bno}
	</delete>

	<select id="listAll" resultType="RecipeBoardVO">
		<![CDATA[
		select 
			* 
		from 
			tbl_recipeBoard 
		where 
			#{startPage, jdbcType=INTEGER} < bno 
		and 
			bno <= #{endPage, jdbcType=INTEGER} 
		order by bno desc
		 ]]>
	</select>
	
	<update id="updateIno">
		update
			tbl_recipeBoard
		set
			ino = #{ino, jdbcType=INTEGER}
		where
			bno = #{bno, jdbcType=INTEGER}
	</update>
	
	<select id="readTitle" resultType="RecipeBoardVO">
		select
			*
		from
			tbl_recipeBoard
		where
			title = #{title}
	</select>
	
	
	<sql id="search">
		<if test="searchType != null">
			
			<if test="searchType == 't'.toString()">
				and title like ('%'||#{keyword}||'%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like ('%'||#{keyword}||'%')
			</if>
			<if test="searchType == 'w'.toString()">
				and mno = to_number(#{keyword})
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like ('%'||#{keyword}||'%') OR content like
				('%'||#{keyword}||'%') )
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like ('%'||#{keyword}||'%') OR writer like
				('%'||#{keyword}||'%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like ('%'||#{keyword}||'%')
				OR
				content like CONCAT('%'||#{keyword}||'%')
				OR
				nickname like CONCAT('%'||#{keyword}||'%'))
			</if>
		</if>
	</sql>
	
	<select id="listSaerch" resultType="RecipeBoardVO">
		<![CDATA[
	     SELECT
			  * 
			FROM
			    (
			    SELECT
			      ROWNUM AS RNUM, Board.* 
			    FROM
			      (
			      SELECT
			        *
			      FROM
			        tbl_recipeBoard
			      ORDER BY bno desc
			      ) Board
			    )
			WHERE
    			RNUM > #{startPage, jdbcType=INTEGER} AND RNUM <= #{endPage, jdbcType=INTEGER}
		 ]]> 
			
		<include refid="search"></include>
		
		
	</select>
	<select id="listPage" resultType="RecipeBoardVO">
		<![CDATA[
	select rownum rn, bno, ,ino, title, materialContent, content, regdate, updatedate from
(select * from tbl_recipeboard order by bno desc) where rownum<=#{num}*10) where rn>(#{num}-1)*10
		]]>
	</select>
	
	<insert id="createLike">
		insert into tbl_recipelike(bno, mno)
		values ( #{bno, jdbcType=INTEGER} , #{mno, jdbcType=INTEGER})
	</insert>
	
	<select id="likeHistory" resultType="Integer">
		select bno from tbl_recipelike where bno = #{bno, jdbcType=INTEGER} and mno = #{mno, jdbcType=INTEGER}	
		group by bno
	</select>
	
	<select id="readLikeCnt" resultType="Integer">
		select likeCnt from tbl_recipeboard where bno = #{bno, jdbcType=INTEGER}
	</select>

	<update id="addViewCount">
		 update tbl_recipeBoard set viewCnt = viewCnt +1 where bno =#{bno, jdbcType=INTEGER}
	</update>
	
	<update id="addLikeCount">
		update tbl_recipeBoard set likeCnt = likeCnt +1 where bno =#{bno, jdbcType=INTEGER}
	</update>
	
	<update id="minusLikeCount">
		update tbl_recipeBoard set likeCnt = likeCnt -1 where bno =#{bno, jdbcType=INTEGER}
	</update>
	
	<update id="addReplyCount">
		update tbl_recipeBoard set replyCnt = replyCnt +1 where bno =#{bno, jdbcType=INTEGER}
	</update>
	
	<update id="minusReplyCount">
		update tbl_recipeBoard set replyCnt = replyCnt -1 where bno =#{bno, jdbcType=INTEGER}
	</update>

</mapper>