<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.RecipeReplyMapper">

	<insert id="create" parameterType="RecipeReplyVO">
		insert into 
			tbl_recipereply(mno, bno, rno, seq, content)
		values
			(#{mno, jdbcType=INTEGER}, #{bno, jdbcType=INTEGER}, seq_recipeReply.nextval,
			#{seq, jdbcType=INTEGER},
			#{content, jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="RecipeReplyVO">
		select 
			* 
		from 
			tbl_recipereply 
		where 
			rno = #{rno, jdbcType=INTEGER}
	</select>
	
	<select id="readSeq" resultType="RecipeReplyVO">
		select
			*
		from
			tbl_recipereply
		where
			rrno = #{rrno, jdbcType=INTEGER}
	</select>
	
	<select id="rnoCurrval" resultType="Integer">
	select
		seq_recipereply.currval
	from
		dual
	</select>

	<update id="update">
		update 
			tbl_recipereply 
		set 
			content = #{content, jdbcType=VARCHAR}
		where 
			rno = #{rno, jdbcType=INTEGER}
	</update>
	
	<update id="rrnoUpdate">
		update
			tbl_recipereply
		set
			rrno = #{rno, jdbcType=INTEGER}
		where
			rno = #{rno, jdbcType=INTEGER}
	</update>


	<delete id="delete">
		delete 
			tbl_recipereply 
		where 
			rno = #{rno, jdbcType=INTEGER}
	</delete>

	<select id="listAll" resultType="RecipeReplyVO">
		select 
			* 
		from 
			tbl_recipereply 
		where bno=#{bno, jdbcType=INTEGER}
		order by rrno desc, seq
	</select>

</mapper>