<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.mapper.TimeLineMapper">

	<insert id="create" parameterType="TimeLineVO">
	
		insert into tbl_timeline(tno,mno,content)
		values
		(seq_tno.nextval, #{mno, jdbcType=INTEGER},#{content, jdbcType=VARCHAR})

	</insert>
	
	<select id="listView" resultType="TimeLineVO">
	
		select tbl_user.nickname, tbl_user.picture, tbl_timeline.tno,
				tbl_timeline.content, tbl_timeline.likecnt, tbl_timeline.replycnt, tbl_timeline.regdate
			from tbl_timeline
		join tbl_user
		 on tbl_user.mno = tbl_timeline.mno
		order by regdate desc
	
	</select>
	
	
	<update id="update">
	
		update tbl_timeline
		set content = #{content, jdbcType=VARCHAR}, updatedate = sysdate
		where tno = #{tno, jdbcType=INTEGER}
	
	</update>
	
	
	<delete id="delete">
	
		delete from tbl_timeline
		where tno = #{tno, jdbcType=INTEGER}
	
	</delete>
	
	<update id="addLikeCnt">
	
		update tbl_timeline
		set likecnt = likecnt + 1
		where tno = #{tno, jdbcType=INTEGER}
	
	
	</update>
	
	<update id="addReplyCnt">
	
		update tbl_timeline
		set replycnt = replycnt + 1
		where tno = #{tno, jdbcType=INTEGER}
			
	</update>
	
	<update id="minReplyCnt">
	
		update tbl_timeline
		set replycnt = replycnt = replycnt - 1
		where tno = #{tno, jdbcType=INTEGER}
			
	</update>
	
	
	<select id="readReplyCnt">
	
	select replycnt from tbl_timeline
		where tno = #{tno, jdbcType=INTEGER}
	
	</select>
	
		<select id="readLikeCnt">
		select likecnt from tbl_timeline
		where tno = #{tno, jdbcType=INTEGER}
	
	</select>



</mapper>