<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.noodle.mapper.WikiMapper">

<select id="searchList" resultType="NoodleVO">
		select
			*
		from
			tbl_noodleapi
		where 
			rownum >= 0
		and 
			name like '%'||#{name}||'%'
	</select>
	
	<select id="read" resultType="NoodleVO">
		
		select * from tbl_noodleapi
		where name = #{name}
		
		
		</select>


</mapper>